.TodoListItem[data-completed="true"] .Info {
  text-decoration: line-through;
}

.Content {
  display: flex;
  gap: 4px;
}

.Status {
  align-self: flex-start;
  margin-top: 6px;
}

.Info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Description {
  font-size: 13px;
  color: gray;
}

.AdditionalInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 0 4px;
  font-size: 13px;
  color: gray;
}

.Controls {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  align-self: flex-start;
}

.Controls button,
.Controls input {
  font-size: 10px;
}

.Tooltip {
  position: relative;
  cursor: pointer;
}

.Tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 0.8rem;
}

.Tooltip:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
}